packages/node_modules/kumva-sms-nodes/example-flow.json
[
  {
    "id": "kumva-example-1",
    "type": "tab",
    "label": "SMS Workflow Example",
    "disabled": false,
    "info": "This example demonstrates a basic SMS workflow with the Kumva SMS nodes. It sends an SMS and waits for a response."
  },
  {
    "id": "inject-1",
    "type": "inject",
    "z": "kumva-example-1",
    "name": "Start",
    "props": [
      {
        "p": "payload",
        "v": "Hello Farmer! Press 1 for Planting Tips, 2 for Weather, 3 for Markets",
        "vt": "str"
      },
      {
        "p": "phoneNumber",
        "v": "+254712345678",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 100,
    "y": 100,
    "wires": [
      ["send-sms-1"]
    ]
  },
  {
    "id": "send-sms-1",
    "type": "send-sms",
    "z": "kumva-example-1",
    "name": "Send Welcome SMS",
    "phoneSource": "msg",
    "phone": "",
    "messageSource": "msg",
    "message": "",
    "username": "",
    "apiKey": "",
    "x": 280,
    "y": 100,
    "wires": [
      ["wait-response-1"]
    ]
  },
  {
    "id": "wait-response-1",
    "type": "wait-for-response",
    "z": "kumva-example-1",
    "name": "Wait for Menu Choice",
    "phoneField": "phoneNumber",
    "timeout": 300,
    "caseInsensitive": true,
    "choices": [
      {
        "label": "Planting Tips",
        "value": "1"
      },
      {
        "label": "Weather Info",
        "value": "2"
      },
      {
        "label": "Market Prices",
        "value": "3"
      }
    ],
    "x": 500,
    "y": 100,
    "wires": [
      ["send-sms-tips"],
      ["send-sms-weather"],
      ["send-sms-markets"],
      ["debug-unmatched"],
      ["debug-timeout"]
    ]
  },
  {
    "id": "send-sms-tips",
    "type": "send-sms",
    "z": "kumva-example-1",
    "name": "Send Planting Tips",
    "phoneSource": "msg",
    "phone": "",
    "messageSource": "fixed",
    "message": "PLANTING TIPS: Plant maize 2-3 weeks before rains. Space 75cm between rows, 25cm between plants. Thank you!",
    "username": "",
    "apiKey": "",
    "x": 720,
    "y": 40,
    "wires": [
      ["debug-sent"]
    ]
  },
  {
    "id": "send-sms-weather",
    "type": "send-sms",
    "z": "kumva-example-1",
    "name": "Send Weather Info",
    "phoneSource": "msg",
    "phone": "",
    "messageSource": "fixed",
    "message": "WEATHER: Rain expected in 3-5 days. Temperatures 22-28°C. No frost warning. Reply STOP to end.",
    "username": "",
    "apiKey": "",
    "x": 720,
    "y": 100,
    "wires": [
      ["debug-sent"]
    ]
  },
  {
    "id": "send-sms-markets",
    "type": "send-sms",
    "z": "kumva-example-1",
    "name": "Send Market Prices",
    "phoneSource": "msg",
    "phone": "",
    "messageSource": "fixed",
    "message": "MARKET PRICES: Maize Ksh 3,500/bag, Beans Ksh 8,500/bag, Potatoes Ksh 2,200/bag. Prices as of today.",
    "username": "",
    "apiKey": "",
    "x": 720,
    "y": 160,
    "wires": [
      ["debug-sent"]
    ]
  },
  {
    "id": "debug-sent",
    "type": "debug",
    "z": "kumva-example-1",
    "name": "SMS Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "smsResult",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-unmatched",
    "type": "debug",
    "z": "kumva-example-1",
    "name": "Unmatched Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug-timeout",
    "type": "debug",
    "z": "kumva-example-1",
    "name": "Response Timeout",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 280,
    "wires": []
  }
]
